.news_item {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;

  .img_news {
    width: 25%;
    height: 100%;
    background: url('../../assets/newspaper-10-256.png') no-repeat center center;
    background-size: 60%;
  }

  .news {
    width: 70%;
    height: 100%;
    text-align: center;
    
    p {
      text-align: left;
      margin-top: 10px;
      text-indent: 20px;
    }

    .communicate {
      width: 100px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
      margin-top: 5px;

      .like {
        height: 100%;
        width: 33%;
        background: url('../../assets/favorite-3-48.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }

      .comment {
        height: 100%;
        width: 33%;
        background: url('../../assets/comments-48.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }

      .shared {
        height: 100%;
        width: 33%;
        background: url('../../assets/undo-3-48.png') no-repeat center center;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
}

